# Introduction to Python in Chemistry Lesson 2

Please first run the import cells below, this gives us the useful software packages we need.

In [ ]:
import matplotlib.pyplot as plt
from rdkit import Chem
from rdkit.Chem.rdMolDescriptors import CalcExactMolWt, CalcMolFormula
from rdkit.Chem import Draw

# Strings

Last lesson we defined a variable as a molecule, using rdkit. We can define a variable as a string too. We will start with a name string. Change the code below so instead of 'Jo' you have your own first name.

In [ ]:
my_name = 'ZoÃ«'

The code above takes in a string and makes a variable take its place. 

You can define a variable by using inverted commas or quotation marks. This means you can define a string with an apostrophe, by using quotation marks.

In [ ]:
s = 'I don't like boiled cabbage'
print(s)

Fix the code above by replacing the inverted commas with quotation marks

To see what is in the variable, you can just type it on its own.

In [ ]:
my_name

or use the print function.

In [ ]:
print(my_name)

You can make your string longer by adding to it. to do this, you can use the `+` operator.

In [ ]:
my_name + 'Anne'

You can see that there is no space. If you want a space, you can add it as well.

In [ ]:
my_name + ' ' + 'Anne'

TO DO: Define a variable called `my_surname` as your own surname, and print out your full name using the `my_name` variable.

# Arrays and Lists

We can store these variables in a list, also can be called an array. Change this array to be the names of people you like.

In [ ]:
my_people = ['Alice', 'Bob', 'Carol', 'Dave']

You can find who you're number one person is by indexing. `my_people[1]`

In [ ]:
my_people[1]

However, Python is *zero indexed*, which makes the first value indexed by zero: `my_people[0]`

In [ ]:
my_people[0]

To Index the last value in the array, you can use `my_people[-1]`

In [ ]:
my_people[-1]

You can add to the list by using the `append` function

In [ ]:
my_people.append('Edward')
my_people

TODO: 
- Make a list of the first four alkane smiles strings.
- Call this list `my_mols`
- Append the SMILES string for pentane
- Add some other SMILES strings, make sure you can work out how to draw their structure

# For Loops

If we want to do the same thing to each thing in the list, it would be quite annoying to have to write out the same code again and again.

We can use a `for` loop to do the same code for each thing in the array. 

The statement `for name in my_people:` makes the variable name equal to each of the values in `my_people` one after the other. 

The code that will be executed for each `name` is indented underneath it.

In [ ]:
for name in my_people: 
    print('Hello, ' + name + '!')

You can also make a `for` loop use a list of numbers.

In [ ]:
for i in [0,1,2,3]:
    print(i)

or use the `range` generator, that gives you that list without writing it out.

In [ ]:
for i in range(4):
    print(i)

We can use this to make SMILES strings. If you start with methane, 'C', you can then concatenate another 'C' to make the string for ethane 'CC'. You can then concatenate another 'C' to make propane, e.t.c..

In [ ]:
meth = 'C'
eth = meth + 'C'
prop = eth + 'C'
but = prop + 'C'

TODO:
- make an empty list `[]` called alkanes
- make an empty string `''` called alk
- create a `for` loop that adds a `'C'` to the string four times
- it should append the result to the list of alkanes each loop
- at the end you should show that you have a list of 4 alkane smiles strings.

# Putting it together

Below, a `for` loop generates the SMILES strings for the first 6 alkanes

In [ ]:
smile = '' # empty string
for i in [1,2,3,4,5,6]:
    smile = smile + 'C'
    print(smile)

We can use a generator to give us up to `n` alkanes

The `range()` function is a special generator function that returns one number after another, and can be iterated over just like a list. 
`range(4)` will generate the numbers 0, 1, 2, 3 in that order. Note, the number 4 is not generated, `range` stops before it.

In [ ]:
n=7
smile = '' # empty string
for i in range(n):
    smile = smile + 'C'
    print(smile)

TODO:  
- Reuse the `for` loop above
- In that loop make a SMILES string for each of the first 10 alkanes, `n=10`
- Define a molecule object (see last lesson) for each of the SMILES strings
- Calculate the molecular formula and weight for each
- Print the molecular formula and the molecular weight on the same line for each one
- Find out how to round the molecular weight to 2 d.p.

If you finish that, try making it draw out the structure for each one.. You may need to google.

This is much harder due to the way rdkit interacts with jupyter notebooks

Try by making an array, then the `Draw.MolsToGridImage()` function.

Can you do this for other 'homologous serieses'? Such as alkenes, alcohols