# Introduction to Python in Chemistry Lesson 3

# Lists

We can store variables in a list, which also can be called an array. 

In Python we define a list using square brackets, with commas to separate the members of the list. 

`my_list = ['one', 2, True, 0.4]`

Lists can contain any type of variable, and many different types of variable can be in the same list.

To do :
- Change this list to be the names of people you like.

In [ ]:
people = ['Alice', 'Bob', 'Carol', 'Dave']

You can find who your number one person is by indexing. 

Indexing for lists works the same way as for strings, for example `my_people[1]`

In [ ]:
people[1]

Just like in strings, lists in Python are *zero indexed*, which makes the first value indexed by zero: `my_people[0]`

In [ ]:
people[0]

To Index the last value in the array, you can use `my_people[-1]`

In [ ]:
people[-1]

What happens when you try to index an item that isn't there?

try `people[7]`

In [ ]:
#put your code in here

You get an `IndexError`, as there is no index `7` in this list, it is too short.

You can slice a list, just like a string, using a colon to separate the first and last index. 

For example, `"a long string"[2:4]` gives the third and fourth characters of the string.

To do:
- Show how you get the first two members of the `people` list.

In [ ]:
# put your code here

You can add another list to this list by using the overloaded `+` operator

In [ ]:
people + ['Dog', 'Cat']

Note that because we didn't assign this new concatenated list to the variable name `people`, that list still has the same people as it did before.

In [ ]:
people

You can also add to the list by using the `append` function

In [ ]:
people.append('Edward')
people

You can also append to an empty list, `[]`

In [ ]:
empty = []
empty.append('meth')
empty

So the list `empty` isn't empty any more.

The overloaded `*` operator also acts on lists. On strings, it just multiplies the string. 

To do:
- try `2 * people` below to see what you get.

In [ ]:
# put your code here

# List Questions:

1 - Why would you not call a list `print`?

2 - Define an empty list called `alkanes`

3 - Append the SMILES string for methane, `C` to it. 

4 - Then append the SMILES strings for more alkanes, up to 6 carbons long

5 - How would you find the length of a list?

In [ ]:
# Question 1
#print is a function in Python. it can be used to make a list. 
# Variables should never be key words

#print = [1,2,'three', False] # Don't do this!

In [ ]:
# Question 2

In [ ]:
# Question 3

In [ ]:
# Question 4

In [ ]:
# Question 5

# For Loops

If we want to do the same thing to each thing in the list, it would be quite annoying to have to write out the same code again and again.

We can use a `for` loop to do the same code for each thing in the array. 

The statement `for name in my_people:` makes the variable name equal to each of the values in `my_people` one after the other. 

The code that will be executed for each `name` is indented underneath it.

In [ ]:
for name in people: 
    print('Hello, ' + name + '!')

You can use this for any list. For example, naming alkanes has the first part, that tells you how many carbons there are, and a second part that tells you what sort of molecule it is.

In [ ]:
stems = ['meth', 'eth', 'prop', 'but', 'pent']

for stem in stems:
    print(stem+'ane')

You can also make a `for` loop use a list of numbers.

In [ ]:
for number in [0,1,2,3]:
    square = number*number
    print(f"{number} squared is equal to {square}")

or use the `range` generator, that gives you that list without writing it out.

In [ ]:
for n in range(4):
    print(f'{n} squared is {n*n}')

Questions:

1 - Make a `for` loop that prints the first five names of alcohols (ending in 'anol') using the list `stems` defined above 

2 - Make a `for` loop to print the first 5 cube numbers

3 - The general formula for alkanes is $$C_nH_{2n+2}$$. Write a for loop to give the formula of the first 10 alkanes.

In [ ]:
# Question 1

In [ ]:
# Question 2

In [ ]:
# Question 3

# Putting it together

Below, a `for` loop generates the SMILES strings for the first 6 alkanes

In [ ]:
smile = '' # empty string
for i in [1,2,3,4,5,6]:
    smile = smile + 'C'
    print(smile)

We can use a generator to give us up to `n` alkanes

The `range()` function is a special generator function that returns one number after another, and can be iterated over just like a list. 
`range(4)` will generate the numbers 0, 1, 2, 3 in that order. Note, the number 4 is not generated, `range` stops before it.

In [ ]:
n=7
smile = '' # empty string
for i in range(n):
    smile = smile + 'C'
    print(smile)

TODO:  
- Reuse the `for` loop above
- In that loop make a SMILES string for each of the first 10 alkanes, `n=10`
- Using code from lesson 1, define a molecule object for each of the SMILES strings
- Calculate the molecular formula and weight for each
- Print the molecular formula and the molecular weight on the same line for each one
- Find out how to round the molecular weight to 2 d.p.

In [ ]:
# Question 1

from rdkit import Chem
from rdkit.Chem.rdMolDescriptors import CalcExactMolWt, CalcMolFormula
from rdkit.Chem import Draw

If you finish that, try making it draw out the structure for each one.. You may need to google.

This is much harder due to the way rdkit interacts with jupyter notebooks

Try by making an array, then the `Draw.MolsToGridImage()` function.

Can you do this for other 'homologous serieses'? Such as alkenes, alcohols