# Introduction to Python in Chemistry Lesson 3

Please first run the import cells below, this gives us the useful software packages we need.

In [1]:
# 1
import matplotlib.pyplot as plt
import numpy as np

We are going to have another look at lists

In [2]:
# 2
my_nums = [1,2,3,4,5,6,7,8,9,10]

The code above defines a list, and has the entries as numbers.

If i want to square each of the numbers one by one, I could use a for loop.

TODO: 
- Make a `for` loop to iterate though the array
- each number should be timesed by 2
- then printed

In [5]:
# 3

However this is rather inefficient, it would be nicer if we could just double the whole array.

In [6]:
# 4 
my_nums*2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

This is not what we expected. Why has this happened?

 answer here..

In [7]:
# 5
my_nums+my_nums

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

TODO:
- Try adding a value to the whole list
- Try subtracting a value from the whole list
- Try timesing the list by minus 1 (*-1)
- Try squaring the list (**2)
- What happens for each one?

In [ ]:
# 6
my_nums+1

In [ ]:
# 7
my_nums-2

In [ ]:
# 8
my_nums*-1

In [ ]:
# 9
my_nums**2

Lists are not designed to handle numbers in this way.

We can use another sort of array, a numpy array.

# Numpy Arrays

In [ ]:
# 10
my_arr = np.array(my_nums) 
# this initiallises another array using the list we already have
my_arr**2

TODO: Try the same things again with the array
- Try adding a value to the whole array
- Try subtracting a value from the whole array
- Try timesing the array by minus 1
- Try squaring the array (**2)
- What happens for each one?

In [ ]:
# 11

In [ ]:
# 12

In [ ]:
# 13

In [ ]:
# 14

# Plotting

We can plot graphs of these arrays using the `matplotlib.pyplot` library

In [ ]:
# 15
# the semi colon stops the expression returning an object. Try without and see what you get
plt.plot(my_arr, my_arr**2, 'b');  # this plots points with x value my_arr, and y value my_arr**2

Graphs should have titles and axes labels

In [ ]:
# 16
plt.plot(my_arr, my_arr**2, 'g') #you can use different colours by changing 'b'
plt.title('Graph to show my_arr squared')
plt.xlabel('$my\_arr$') # you have to escape (\) the underscore in my_arr for it to show
plt.ylabel('$my\_arr^2$');

TODO: 
- Plot a graph of $x$ vs $x^3$
- You will need to use the `numpy` library 
- make sure your graph has labels and a title

In [ ]:
# 17

We can plot data from many different sources. For example, you can look up the boiling points of the first 10 alkanes, and plot those.

TODO:
- Look up the boiling points of the first 10 straight chain alkanes
  - You can use google, or any data books available
- make an array with them in
- plot the graph of number of carbons vs boiling points
- ensure your graph has a title and axis labels

In [ ]:
# 18

What difficulties did you have? Discuss.